.candor-row {
    height: 100%;
}
.candor-container {
    height: 100vh;
}
.candor-bold {
    font-weight: 550;
}
.candor-carousel {
    height: 100%;
}
.candor-terms-privacy {
    opacity: 0.5;
    font-size: 0.90rem;
    margin-right: 1.5rem;
    color: white;
}
@media (max-width: 400px) {
     .candor-terms-privacy {
        margin-right: 0rem;
    }
}
@media (min-width: 400px) {
    .candor-badge-margins {
        margin-left: 1.5rem;
    }
}
@media (min-width: 450px) and (min-height: 1024px) {
    .candor-badge-margins {
        margin-left: 0rem;
    }
}
@media (min-width: 768px) {
    .candor-col-height {
        height: 100%;
    }
}